<div class="padding">
  <mat-tab-group>
    <mat-tab label="Tabela">
      <ng-template matTabContent>
        <app-tabela></app-tabela>
      </ng-template>
    </mat-tab>
    <mat-tab label="Tabela/Ordenação">
      <ng-template matTabContent>
        <app-tabela-ordenar></app-tabela-ordenar>
      </ng-template>
    </mat-tab>
    <mat-tab label="Tabela/Paginação">
      <ng-template matTabContent>
        <app-tabela-paginacao></app-tabela-paginacao>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
