<div class="padding">
  <mat-tab-group>
    <mat-tab label="Gráfico de Linha">
      <ng-template matTabContent>
        <app-grafico1></app-grafico1>
      </ng-template>
    </mat-tab>
    <mat-tab label="Gráfico de Barra">
      <ng-template matTabContent>
        <app-grafico2></app-grafico2>
      </ng-template>
    </mat-tab>
    <mat-tab label="Gráfico Doughnut">
      <ng-template matTabContent>
        <app-grafico3></app-grafico3>
      </ng-template>
    </mat-tab>
    <mat-tab label="Gráfico de Radar">
      <ng-template matTabContent>
        <app-grafico4></app-grafico4>
      </ng-template>
    </mat-tab>
    <mat-tab label="Gráfico de Pizza">
      <ng-template matTabContent>
        <app-grafico5></app-grafico5>
      </ng-template>
    </mat-tab>
    <mat-tab label="Gráfico de Área Polar">
      <ng-template matTabContent>
        <app-grafico6></app-grafico6>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
